.DS_Store
/local.cmake
CMakeCache.txt
CMakeFiles/
Debug/
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.sln
**/*.exe
**/*.xcodeproj
**/*.build
**/*.psess
**/*.suo
**/*.user
**/*.vspx
**/*.pyc
**/*.aps
*.pdb
*.obj

Output

